*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul{
    list-style: none;
}
body{
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.title{
    font-size: 32px;
    line-height: 38px;
    color: #4e5665;
    font-family: "Georgia";
    text-align: center;
    font-weight: 400;
}
.header__top{
    height: 100vh;
    height: calc(100vh - 150px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}
.header__top-inner{
    border: 2px solid #ecb84c;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffffff;
    font-family: "Georgia";
}
.heder__title{
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    margin: auto;
    font-weight: 700;
}
.header__text {
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -12px;
    &::after,
    &::before{
        content: "";
        border-top: 2px solid #ecb84c;
        width: 100%;
    }
    &::after{
        margin-left: 30px;
    }
    &::before{
        margin-right: 30px;
    }
}

.menu{
    border-bottom: 1px solid rgba(208, 212,216, .5);
}
.menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu__list-link{
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
    padding: 24px 10px 20px;
    color: #909090;
    margin: 0 6px;
    &:hover{
        color: #4e5665;
        border-bottom: 4px solid #ECB84C;
    }
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    .container-content{
    max-width: 970px;
    margin: 0 auto;
    }
}

.reason{
    padding: 80px 0 0;
    .reason__title{
        margin-bottom: 22px;
    }

    .reason__link{
        text-align: right;
        font-weight: 700;
        color: #ecb84c;
        margin-bottom: 36px;
    }
    
    .reason__statistics-num{
        color: #4e5665;
        margin-top: 32px;
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
    }
    .reason__statistics-text{
        font-size: 14px;
        color: #909090;
        font-weight: bold;
        line-height: 17px;
    }
    .section-line{
        border-bottom: 1px solid rgba(208, 212,216, .5);
    }
}
.reason__statistics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}
.about{
    padding: 80px 0 0;
}
.about__title{
    margin-bottom: 13px;
}

.about_text{
    margin-bottom: 72px;
}
.about__item{
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}
.about__box{
    padding: 33px 40px;
    background-color: #ffffff;
    max-width: 370px;
    position: relative;
    &::after,&::before{
        content: "";
        position: absolute;
        width: 33px;
        height: 33px;
    }
    &::before{
        background-image: url('../img/decor-left.svg');
        top: 19px;
        left: 19px;
    }
    &::after{
        border-bottom: 2px solid #ECB84C;
        border-right: 2px solid #ECB84C;
        right: 19px;
        bottom: 19px;
    }
}

.about__box-title{
    font-size: 24px;
    line-height: 25px;
    color: #4e5665;
    font-family: "Georgia";
    margin-bottom: 20px;
    
}
.about__item:nth-child(even){
    background-position: left;
}
/*even четное , odd не четное*/
.about__item:nth-child(even) .about__box{
    margin-left: auto;
}
.about__item:nth-child(even) .about__box::before{
    right: 19px;
    left: auto;
    background-image: url('../img/decor-right.svg');
}
.about__item:nth-child(even) .about__box::after{
    left: 19px;
    border-right: none;
    border-left: 2px solid #ECB84C;
}
.about__preview-title{
    margin-bottom: 38px;
}
.about__preview-text{
    margin: 53px auto 80px;
}
.about__images-box{
    padding-top: 73px;
    margin-bottom: 52px;
    position: relative;
}
.about__dot{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(236, 184, 76, .75);
    position: absolute;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FFD600;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    &::before{
        content: "";
        background-image: url('../img/Path.svg');
        width: 244px;
        height: 122px;
        top: -115px;
        left: 28px;
        position: absolute;
        display: none;
    }
    &:hover::before{
        display: block;
    }
    &:hover .about__dot-text{
        display: block;
    }
    .about__dot-text{
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        color: #505050;
        position: absolute;
        top: -140px;
        left: 150px;
        white-space: nowrap;
        display: none;
    }
}
.about__dot--1{
    top: 190px;
    left: 150px;
}
.about__dot--2{
    top: 188px;
    left: 495px;
}
.about__dot--3{
    top: 147px;
    right: 400px;
}
.about__dot--4{
    bottom: 28px;
    right: 350px;
}
.photo{
    padding: 80px 0;

    .photo__title{
        margin-bottom: 42px;
    }
    .photo__text{
        padding-bottom: 48px;
        margin-bottom: 56px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 270px;
            height: 1px;
            background-color: rgba(208, 212,216, .5);
            bottom: 0;
            margin: 0 auto;
        }
    }
}
.photo__slider{
    max-width: 640px;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 24px rgba(0,0,0,0.3));
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        font-size: 0;

        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
/* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 0;
        background: url('../img/Arrow-left.svg') 0 0 / 100% no-repeat;
        outline: none;
        left: -20px;
    }
  /* Стрелка вправо */
    .slick-arrow.slick-next { 
        right: 0;
        background: url('../img/Arrow-right.svg') 0 0 / 100% no-repeat;
        right: -20px;
        outline: none;
  }
}
.footer{
    background: #f8f8f8;
    padding: 55px 0 32px;
}
.footer__item-title{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #4E5665;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer__items{
    display: flex;
    justify-content: space-between;
}
.footer__item{
    width: 170px;
}
.footer__item--company{
    width: 300px;
    padding-left: 200px;
}
.footer__item--blog{
    width: 300px;
    margin-left: 70px;
}
.footer__item-link{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}
.footer__item-link--social{
    padding-left: 28px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
    }
}
.footer__item--message::before{
    background-image: url('../img/meseng.svg');
    width: 17px;
    top: 1px;
}
.footer__item--facebook::before{
    background-image: url('../img/face.svg');
}
.footer__item--instagram::before{
    background-image: url('../img/instag.svg');
}
.footer__item--youtube::before{
    background-image: url('../img/youTube.svg');
}
.footer__item--email::before{
    background-image: url('../img/email.svg');
    height: 13px;
    top: 2px;
}
.footer__copy{
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}


.menu__btn{
    display: none;
}
@media(max-width:840px){
    .about__box{
        margin: 0 auto;
    }
}
@media(max-width:700px){
    .heder__title{
        font-size: 120px;
        line-height: 150px;
    }
    .header__text{
        font-size: 20px;
    }
    .menu{
        position: relative;
    }
    .menu__btn{
        display: block;
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 10px;
        span{
            display: block;
            margin-bottom: 10px;
            background-color: #ffd600;
            height: 4px;
        }
    }
    
    .menu__list{
        display: none;
        padding-top: 60px;
        text-align: center;
        border-bottom: 4px solid #ECB84C;
        
    }
    .menu__list-link{
        display: block;
        border-top: 4px solid #ECB84C;
        transition: all 0s;
        &:hover{
            border-bottom: 4px solid transparent;
        }
    }
}

@media(max-width:540px){
    
    .header__text{
        display: none;
    }
    .header__top-inner{
        border: 2px solid #ECB84C;
    }
    .header__top{
        padding: 10px;
    }
    .heder__title{
        font-size: 100px;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
    }
    body{
        font-size: 15px;
        line-height: 24px;
    }
    .reason__statistics{
        display: block;
    }
    .reason__statistics-item{
        margin-bottom: 35px;
    }
}
























@media(min-width:700px){
    .menu__list{
        display: flex !important; /*из бургера возврат в строчное меню*/
    }

}